extends layout

block content
  #artist_list
    h1= title
    form
      input(type='text' id='artist_name')
      input(type='text' id='artist_years')
      button
    each artist in artists
      p(id=artist.id, class='artist_name')=artist.name
      img(src= artist.url, width='100px')
      p= artist.years
  #art_list


