doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,300')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.js')
    script(type='text/javascript', src='https://code.jquery.com/ui/1.9.2/jquery-ui.js')
    script(type='text/javascript', src='/javascripts/ajax_calls.js')
    script(type='text/javascript', src='/javascripts/interactions.js')
  body
    block content
