- each datum in data
  .work(id='work_' + datum.id)
    p.work_title= datum.title
    p.work_year= datum.year 
    img(src=work.url, height='200px')
    br
    span.edit_work Edit
    span.remove_work Delete
