body {
  font-family: 'Helvetica';
}

#artist_list {
  max-width: 15vw;
  border: 1px solid gray;
  max-height: 95vh;
  overflow-y: scroll;
  display: inline-block;
  float:left;
  position: fixed;
  top: 0;
  left: 0;
}

#art_list {
  display: inline-block;
  float: left;
  margin-left: 15vw;
}