body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body * {
  margin: 0;
  padding: 0;
  text-align: center;
}

#artist_view_type, #clear, #work_view_type, #random {
  font-size: 0.8em;
}

.chosen {
  font-weight: 700;
}

#artist_view_type:hover, 
.artist_name:hover,
#clear:hover, 
#work_view_type:hover, 
.edit_artist:hover, 
.remove_artist:hover,
.edit_work:hover,
.remove_work:hover,
#random:hover,
#work_list img:hover {
  cursor: pointer;
}

#artist_list {
  max-width: 12vw;
  height: 100vh;
  display: inline-block;
  float:left;
  position: fixed;
  top: 0;
  left: 0;
}

#artist_header {
  position: relative;
  top: 0;
  left: 0;
}

#artist_body {
  height: -webkit-calc(100vh - 170px);
  overflow-y: scroll; 
}

h2 {
  font-weight: 400;
  margin-top: 15px;
  font-size: 2.5em;
}

#new_artist_form {
  margin-bottom: 15px;
}

form button {
  display: none;
}

#work_list {
  display: inline-block;
  float: left;
  margin-left: 12vw;
  margin-top: 10px;
}

img {
  padding-top: 5px;
}

.artist {
  padding-bottom: 15px;
}

.edit_artist, .remove_artist, .remove_work, .edit_work {
  font-size: 0.8em;
}

.edit_artist, .edit_work {
  padding-right: 7px;
}

#work_list .work_header {
  overflow: auto;
  font-size: 18px;
  margin-top: 15px;
}

#work_list .work_header a, #work_list .work_header form {
  display: inline;
  float: left;
}

#work_list .work_header a {
  padding-right: 25px;
  font-weight: 800;
  padding-left: 25px;
}

#work_list a {
  text-decoration: none;
  color: black;
}

form input {
  border: 1px solid #ccc;
  color: black;
}

.work {
  padding: 0 10px 10px 10px;
  display: inline-block;
  float:left;
}

.edit_work_form input {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
